.building-list-container {
    border-left: solid 5px #000000;
    font-size: calc(10px + 3.5vmin);
    background-color: #454c5a;
    width: 100%;
    height: 100%;
    display: inline;
    opacity: 0.9;
    scrollbar-width: auto;
    scrollbar-color: #454c5a #e0e0e0;
    overflow-y: auto;
    scrollbar-gutter: stable;
}