.upgrade-container {
    border: solid 4px black;
    margin: 0.3em;
    min-height: 40vh;
    background-color: #5d6679;;
    height: 20vmin;
    transition: height 0.3s ease;
    border-radius: 8px;
}

.upgrade-container-empty-message {
    display: none;
    color: #999;
    text-align: center;
}

.upgrade-container-header {
    width: 100%;
    background: linear-gradient(100deg, #666, #444);
    border-bottom: solid 4px black;
}

.upgrade-container-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(3.3em, 1fr));
    justify-content: start;
    gap: 0.01em;
    min-height: 80%;
    margin: 4px;
    height: 20vmin;
    border: solid 3px black;
    scrollbar-width:thin;
    scrollbar-color: #454c5a #e0e0e0;
    overflow-y: auto;
    scrollbar-gutter: unset;
    border-radius: 5px;
}