.chick-target {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.chick-style {
    height: 40vmin;
    outline: "none";
    user-select: none;
    cursor: pointer;
    pointer-events: none;
}