.chick-container {
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 3.5vmin);
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    display: flex;
    min-height: 100vh;
    min-width: 60vw;
    max-width: 90vw;
    justify-content: center;
    z-index: 2;
}

.chick-container p {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.chick {
    position: relative;
    cursor: pointer;    
    height: 40vmin;
    outline: "none";
    user-select: none;
    cursor: pointer;
    pointer-events: none;
}

.chick-sun {
    position:absolute; 
    height: 60vmin;
    animation: rotate 60s linear infinite;
}

.chick-img-container {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all .2s ease-in-out;
}

.chick-img-container:hover {
    transform: scale(1.02);
}

.feather {
    position: absolute;
    width: 1em;
    height: 1em;
    pointer-events: none;
    background-image: url('../../img/feather.png');
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
    animation: fly 1s forwards;
}

.egg-currency {
    display: inline;
    margin: 0 0.125em;
    padding: 0;
    vertical-align: sub;
    max-height: 3vh;
}

.eggs-per-click {
    position: fixed;
    pointer-events: none;
    animation: fly 1s forwards;
}

@keyframes fly {
    0% {
        transform: translateY(0) translateX(0) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateY(-100px) translateX(50px) rotate;
        opacity: 0;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) scale(1.0);
    }
    100% {
        transform: rotate(360deg) scale(1.2);
    }
}