.bonus-egg-img {
    animation: bonus-egg 60s linear;
    cursor: pointer;
    position: absolute;
    max-height: 10em;
    z-index: 99999;
}


@keyframes bonus-egg {
    0% {
        transform: rotate(-360deg);
        opacity: 0;
    }
    50% {
        transform: rotate(0deg);
        opacity: 0.9;
    }
    100% {
        transform: rotate(360deg);
        opacity: 0;
    }
    
}