.upgrade-tooltip {
    position: fixed;
    background-color: #333; 
    font-size: 2em;
    color: #fff; 
    padding: 5px 10px; 
    border: solid 4px #000;
    border-radius: 15px;
    z-index: 1000; 
    pointer-events: none; /* Чтобы курсор проходил сквозь tooltip */
}

.upgrade-tooltip-header {
    font-size: 1em;
    line-height: 0.2em;
}

.upgrade-tooltip-info {
    font-size: 0.7em;
    line-height: 0.1em;
}