@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&display=swap');

@font-face {
  font-family: 'Comicsman One';
  src: url('./assets/fonts/ofont.ru_Comicsman\ One.ttf');
}

@font-face {
  font-family: 'bip';
  src: url('./assets/fonts/bip.ttf');
}

body {
  font-family: 'bip', sans-serif;
  overflow: hidden;
  margin: 0;
}

* {
  -webkit-user-drag: none;
  user-select: none;
}
